/* -------------------------------------------------------- */
/* Contact */
/* -------------------------------------------------------- */

.contact .contact__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    font-size: 0.9em;
}
.contact .contact__container .contact__container__form {
    width: 580px;
    padding: 15px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
}

.contact .contact__container .contact__container__form__input {
    text-align: left;
}
.contact .contact__container .contact__container__form__input.contact__container__form__submit {
    text-align: center;
}
.contact .contact__container .contact__container__form input {
    position: relative;
    width: 100%;
    min-height: 40px;
    border-right: solid 1px rgba(250,250,250,0.3);
    border-bottom: solid 1px rgba(250,250,250,0.3);
    border-radius: 0px 0px 10px 0px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    margin: 10px 0px;
}
.contact .contact__container .contact__container__form input:focus {
    left: 2px;
    top: 2px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
}
.contact .contact__container .contact__container__form__input button {
    margin: 5px 0px;
}

.contact .contact__container .contact__container__form .contact__container__form__message{
    position: relative;
    width: 100%;
    border-bottom: solid 1px rgba(250,250,250,0.2);
    border-right: solid 1px rgba(250,250,250,0.2);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    margin: 10px 0px;
    padding: 10px;
    resize: vertical;
}
.contact .contact__container .contact__container__form .contact__container__form__message:focus{
    left: 2px;
    top: 2px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.contact .contact__container .contact__infos {
    margin: 20px 10px;
}

.contact .contact__container .contact__infos .contact__infos__block {
    margin: 40px 0px;
}

.contact .contact__container .contact__infos .contact__infos__block span:nth-child(1) {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: var(--shadow-blue);
    transition: 0.2s;
}
.contact .contact__container .contact__infos .contact__infos__block span:nth-child(1):hover {
    transform: scale(1.1);
}

.contact .contact__container .contact__infos .contact__infos__block span:nth-child(2) {
    font-size: 1em;
}
.contact .contact__container .contact__infos .contact__infos__block span {
    display: block;
}

.contact .contact__container .contact__infos .contact__infos__block span .contact__infos__icon {
    margin-right: 20px;
}

.contact .contact__container .contact__text {
    margin: 20px 10px;
    max-width: 610px;
    text-align: left;
}

.contact .contact__container .form-message {
    margin-top: 10px;
    color: red;
    font-size: 1.1em;
}